body {
    background-color: gray;
    margin: 0 0;
}

section {
    width: 70%;
    margin: auto;
}

#navigation {
    width: 100%;
    margin: auto;
    background-color: black;
    height: 50px;
}

.toggle {
    text-align: right;
    list-style-type: none;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 20px;
}

#expand {
    display: block;
}

#collapse {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/* li:hover {
    background-color: orange;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
} */

#menu {
    display: none;
    text-align: center;
    padding-left: 0px;
}

a {
    cursor: pointer;
    color: white;
    font-style: none;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    margin: auto;
}

@media (min-width: 800px) {
    .toggle #expand #collapse {
        display: none;
    }

    section {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    p {
        font-size: 1.3rem;
    }

    #menu {
        display: flex;
        background-color: #000;
        margin: auto 0;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


}